.header{
	border-bottom: 1px solid #fff;
}
.head-area{ 
	width: 80%;
	margin: 0 auto;
	position: relative;
}

.head-left{

}
.head-left .logo{
	width: 72px;
	height: 72px;
}
.head-left .colse{
 	height: 32px;
 	widows: 32px;
 	display: none;
 	position: absolute;
 	right: 16%;
  	top: 22px;
  	cursor: pointer;
  	-webkit-transition: .6s;
	-o-transition: .6s;
	transition: .6s;
}
.head-left .cor{
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.head-right{

}
.head-right ul{

}
.head-right ul li{
	display: block;
	float: left;
	padding: 6px 20px;
}
.head-right ul li:first-child{
	margin-left: 0;
}

.section-list{
	width: 100%;
}
.section-area{
	width: 90%;
	margin: 0 auto;
}
.section-area .item{
	width: 32%;
	float: left;
	margin-right: 8px;
	height: 200px;
	text-align: center;
	background-color: #fff;
	margin-top: 10px;
	overflow: hidden;
}
.section-area .item .pro{
	margin: 20px;
	background-color: #ddd;
	min-width: 328px;
}