.header{
	height: 80px;
	background-color: #ddd;
}
.nav{
	width: 80%;
	height: 80px;
	margin: 0 auto;
}
.nav>.logo{
	height: 80px;
	width: 14%;
	float: left;
}
.logo>img{
	margin-top: 4px;
}
.nav>ul{
	width: 86%;
	height: 80px;
	float: right;
	margin: 0;
	padding: 0;
	text-align: right;
	background-color: #ddd;
}
.nav>ul>li{
	display: inline;
	line-height: 80px;
	margin-left: 3em;
}
.nav>ul>li>a{
	text-decoration: none;
}
.nav>ul>li:first-child{
	margin-left: 0;
}

@media (max-width: 780px) {
	.nav>.logo{
		float: none;
		width: 100%;
		text-align: center;
		border-bottom: 1px solid #dee;
	}
	.nav{
		height: 100%;
		width: 100%;
	}
	.nav>ul{
		width: 100%;
		height: auto;
	}
	.nav>ul>li{
		display: block;
		text-align: left;
		margin-left: 0px;
		text-indent: 40px;
		line-height: 40px;
	}
}